[submodule "externals/ZMPY3D"]
	path = externals/ZMPY3D
	url = https://github.com/tawssie/ZMPY3D.git
[submodule "externals/ZMPY3D_TF"]
	path = externals/ZMPY3D_TF
	url = https://github.com/tawssie/ZMPY3D_TF.git
